#container{
    outline: auto;
    outline-color: darkgray;
    width: 80vw;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 16px;
    font: 100;

}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

input,button{
    font-size: 1.8rem;
}
body{
    background-color:  rgb(211, 211, 211);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

/* body{
	background:#00b09b;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} */

ul{
    position: fixed;
    text-align: center;
    width: 33.5%;
	display: flex;
	background: #fff;
	border-radius: 0px 0px 20px 20px;
	padding:5px 15px;
}

li{
	list-style: none;

}

li:hover a{
	transform: scale(1.2);
}


a{
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 15px;
	transition:transform 0.5s;
}

.center{
    margin-left: 35%;
}